.nav-enlace {
    /* Convierte los enlaces en Bloques de linea */
    display: inline-block;
    /* Color de Botones */
    background: #F4D03F;
    /* Color de Texto */
    color: #000000;
    /* Margenes de los Botones */
    padding: 1px 5px;
    /* Quita el subrayado de enlases */
    text-decoration: none;
    /* Tipo de Fuente */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Borde de Fuente */
    font-weight: 800;
}

.nav-enlace:hover {
    background: orange;
}

nav {
    background: #F4D03F;
    padding: 10px;
    display: flex;
    justify-content: left;
    margin: 0px 0px 20px 0px;
}

.nav-boton {
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color de fondo del Section */
body {
    background: #fff
}

/* Esta clase hace referencia a todos los botones del Section */
.contenedor {
    align-content: center;
    /* Alineacion */
    justify-content: center;
    display: grid;
    /* Espacio desde la zona de botones hacia arriba y hacia abajo */

    /* Lo puse para corregir, no me funciono */
    /* margin-top: 30%; */
}

.btn2 {
    border: 3px solid rgba(100, 100, 100, 0.1);
    /* Margen alrededor del boton */
    margin-bottom: 20px;
    /* Alto del boton, oooo margen interno con respecto a la palabra */
    padding: 20px;
    /* Ancho del boton */
    width: 300px;
    /* Radio de las esquinas del boton */
    border-radius: 8px;
    /* velocidad de transicion del hover */
    transition: 0.6s;
    /* Dibujito del cursor, en este caso la manito */
    cursor: pointer;
    /* Fuente: Tipo de fuente */
    font-family: 'poppins', sans-serif;
    /* Tamaño de fuente */
    font-size: 16px;
    /* Fuente: Color */
    color: #ffffff;
    /* Fuente: Espesor de fuente, lo puse para no olvidar (Para hacerla mas negrita) */
    font-weight: 0;
    /* Creeeeooo que es el nivel de transparencia */
    background-size: 300%;
}

/* |Direccion de degradado: Angulo(Ejemplo 45deg) o lado(Ejemplo left) | cantidad de colores que quieras |  */
.btn1 {
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
}

/* Pseudoclases: Son como las clases pero sirven para configurar diferentes estados de los elementos */
/* Pseudo clase para el boton, cuando el mause se coloca encima de el (Ver tambien velocidad de transicion) */
.btn2:hover {
    background-position: right;
}

/* Pseudo clase para los link que estan en los botones, sirve para no revelar enlases vicitados y que tengan el mismo color que los no visitados*/
.link:visited {
    color: #fff;
}

/* Pseudo clase para los link que estan en los botones, sirve para no revelar enlases vicitados y que tengan el mismo color que los no visitados*/
.link {
    text-decoration: none;
}

<<<<<<< HEAD
.section-boton {
    align-content: center;
    justify-content: center;
    display: grid;
    height: 100vh;
}

.informes-ventas {
    margin-left: 30%;
}

.div-filtros {
    margin-left: 40%;
    margin-top: 5%;
}

.div-filtros2 {
    align-items: center;
    flex-wrap: wrap;
}

.card-caja {
    background-color: gold;
    display: inline-block;
}

/* Contenedor cards caja */
.container-flex {
    display: flex;
    justify-content: space-evenly;
}

.table {
=======
    .section-boton{
        align-content: center;
        justify-content: center;
        display: grid;
        height: 100vh;
    }
    
    .informes-ventas{
        margin-left: 30%;
    }
    
    .div-filtros{
        margin-left: 40%; 
        margin-top: 5%;
    }
    .div-filtros2{
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card-caja{
        background-color: gold;
        display:inline-block;
    }
 
.table{
>>>>>>> c5237ae8a9f87195ddbcc17f00e23fe730ecef18
    background-color: #fff;
}

.row-venta {
    background-color: lightgrey;
}
.select {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    background-color:cadetblue;
    color:#ffffff;
  }
  .select1 {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    background-color:darkolivegreen;
    color: #ffffff;
  }
  .container-caja{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
}
   /* Contenedor cards */
   .container-flex{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    padding-right: 10%; 
    gap: 30px 30px;
}
.caja-ventas{
    margin: 10px;
    height: 100%;
    width: 100%;
    border-radius: 2%;
    background-color: grey;
    border: 4px solid black;
   
}
.caja-ventas-titulo{
    color:#ffffff;
    border-radius: 2%;
    border:2% lightgray;
    font-size: medium;
    background-color: #004;
}

/* Responsive para menos de 500px */
@media screen and (max-width: 500px) {
    .btn2 {
        border: 3px solid rgba(100, 100, 100, 0.1);
        /* Margen alrededor del boton */
        margin-bottom: 20px;
        /* Alto del boton, oooo margen interno con respecto a la palabra */
        padding: 15px;
        /* Ancho del boton */
        width: 200px;
        /* Radio de las esquinas del boton */
        border-radius: 8px;
        /* velocidad de transicion del hover */
        transition: 0.6s;
        /* Dibujito del cursor, en este caso la manito */
        cursor: pointer;
        /* Fuente: Tipo de fuente */
        font-family: 'poppins', sans-serif;
        /* Tamaño de fuente */
        font-size: 12px;
        /* Fuente: Color */
        color: #ffffff;
        /* Fuente: Espesor de fuente, lo puse para no olvidar (Para hacerla mas negrita) */
        font-weight: 0;
        /* Creeeeooo que es el nivel de transparencia */
        background-size: 300%;
    }
}



/* Responsive para menos de 360px */
@media screen and (max-width: 360px) {
    .btn2 {
        border: 3px solid rgba(100, 100, 100, 0.1);
        /* Margen alrededor del boton */
        margin-bottom: 20px;
        /* Alto del boton, oooo margen interno con respecto a la palabra */
        padding: 15px;
        /* Ancho del boton */
        width: 100px;
        /* Radio de las esquinas del boton */
        border-radius: 8px;
        /* velocidad de transicion del hover */
        transition: 0.6s;
        /* Dibujito del cursor, en este caso la manito */
        cursor: pointer;
        /* Fuente: Tipo de fuente */
        font-family: 'poppins', sans-serif;
        /* Tamaño de fuente */
        font-size: 12px;
        /* Fuente: Color */
        color: #ffffff;
        /* Fuente: Espesor de fuente, lo puse para no olvidar (Para hacerla mas negrita) */
        font-weight: 0;
        /* Creeeeooo que es el nivel de transparencia */
        background-size: 300%;
    }
<<<<<<< HEAD
}

/* Responsive Cards de Caja */
@media screen and (max-width: 1000px) {
    .container-flex {
        flex-wrap: wrap;
=======
    /* Responsive Cards de Caja */
    @media screen and (max-width: 1000px){
        .container-caja{
            grid-template-columns: repeat(auto-fill, 186px);
        }
>>>>>>> c5237ae8a9f87195ddbcc17f00e23fe730ecef18
    }
}

@media screen and (max-width: 3500px) {
    .table {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
    }
}

.centrar {
    text-align: center;
}
/* Estilos de pag altas y baja de usuarios*/

.marco{
    width: 100%;
    height: 400px;
}
=======
        }
   }
>>>>>>> c5237ae8a9f87195ddbcc17f00e23fe730ecef18
