.titinforme {
     text-align: center;
}

.ingfecha {
     text-align: center;
}

.ingreseid {
     padding-top: 30px;
}

.ingresena {
     padding-top: 30px;
}

.fecha {
     padding-top: 30px;
}

.fechar {
padding-top: 30px;
padding-bottom: 30px;
}

.botbuscar {
     padding-top: 0px;

}

.resultado {
     text-align: center;
}